<% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
    <% @blog.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

  <%= form_with(model: @blog, local: true ,url: choose_new_or_edit) do |form| %>
  
    <div class="blog_title col-xs-12 center-block">
      <%= form.text_field :title, size: "122" , placeholder: "タイトル" %>
    </div>
  
    <div class="blog_content col-xs-12 center-block">  
      <%= form.text_area :content, size: "120x10", placeholder: "内容" %>
    </div>
    <div class="button">
    <input type="submit" type="button" class="btn btn-success center-block"value="投稿する" data-disable-with="投稿中...">
    </div>
  <% end %>
