<h3>Sign up</h3>
    <div class= "center input-group small-devices form-inline center-block">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><h4><font color="#FF0000"><%= message %></font></h4></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>  
  
  <div class="center input-group small-devices form-inline center-block">
    <%= form_with(model: @user, local: true) do |f| %>  
      <ul class="form_content">
        <li class="event_form">
          <%= f.text_field :name, size: "35" , placeholder: "名前"%>
        </li>  
        <li class="event_form">
          <%= f.email_field :email, size: "35" , placeholder: "Email"  %>
        </li>
        <li class="event_form">
          <%= f.text_field :capacity, size: "35" , placeholder: "ヨガの資格",id: :user_capacity  %>
        </li>
          <%= f.password_field :password, size: "35" , placeholder: "パスワード"  %>
        <li class="event_form">
          <%= f.password_field :password_confirmation, size: "35" , placeholder: "パスワードの確認" %>
        </li> 
        <h5>image</h5>
          <%= f.file_field :image %>
        <li class="event_form">
          <br><%= f.submit "登録する" , class: "follow_submit btn btn-success center-block" %>
        </li>  
      </ul>  
    <% end %>
  </div>  