<h1><%= @user.name %>のページ</h1>
  <div class='center'>
    <%= image_tag @user.image, :size =>'320x320' %>
    <p>資格: <%= @user.capacity %></p>
    <p>メールアドレス: <%= @user.email %></p>
    <button type="button" class="btn btn-warning" btn-sm><%= link_to "編集する", edit_user_path(@user.id) %></button>
  </div>  
      
        