<h1><%= @user.name %>のページ</h1>
<%= image_tag @user.image %>
<p>メールアドレス: <%= @user.email %></p>
  <ul class="row center-block">
    <h4>お気に入りブログ</h4>    
      <li class= "box col-md-6 col-sm-12 col-xs-12"> 
        <% @favorites_blogs.each do |fav| %>
          <p>タイトル:<%= fav.blog.title%></p>
          <p>内容：<%= fav.blog.content%></p>  
        <% end %>
      