<h1>管理者画面</h1>
  
    <li><%= link_to 'ログアウト', destroy_manager_session_path, method: :delete %></li>

      <header>
          <%= form_tag(events_path,:method => 'get') do %>
          <%= text_field_tag :search, '', placeholder: "例：東京、初心者、リラックス", :size =>'30' %>
          <%= submit_tag '検索する', class: 'btn btn-primary', :name => nil %>
          <% end %>
      </header>
    
  <% @events.each do |event| %>
    <div class= "container-fluid visible-xs visible-md visible-sm">
      <div class="center row">
        <div class= "col-md-6 col-sm-6 col-xs-12">
          <%= image_tag event.image , :size =>'240x240' %>
        </div>
        
        <div class="center event_list col-md-6 col-sm-6 col-xs-12">
          <h2><%=event.title %></h2>
          <h4><%= event.place %></h4>
          <%= event.event_date %>
          <br><%=link_to '記事を読む', event_path(event.id) %>
         
          <% if event.allow == true  %>  
            <button type="button" class="btn btn-default" btn-lg><%= link_to "戻す", back_managers_path(id: event.id), method: :post%></button>
          <% else %>
            <button type="button" class="btn btn-success" btn-lg><%= link_to "承認", allow_managers_path(id: event.id), method: :post%></button>
          <% end %>
        </div> 
           
        <% if logged_in?  %>
            <button type="button" class="btn btn-warning" btn-sm><%= link_to "編集する", edit_event_path(event.id) %></button>
            <button type="button" class="btn btn-danger" btn-sm><%= link_to '削除する', event_path(event.id),method: :delete ,data:{ confirm: '本当に削除してよろしいですか？'}  %></button>
        <% else %>
          <% link_to new_user_session_path %>
        <% end %>  
      </div>  
    </div>    
      <div class= "box visible-xl visible-lg">
        <div class="row">
          <div class= "event_image col-md-6 col-xs-12">
            <%=image_tag event.image , :size =>'240x240' %>
          </div>  
        
          <div class="center event_list col-md-6 col-xs-12">
            <h2><%=link_to event.title, event_path(event.id)  %></h2>
            <h4><%= event.place %></h4>
            <%= event.event_date %>
            <br><%=link_to '記事を読む', event_path(event.id) %>
          </div>  
        </div> 
        
        <% if logged_in?  %>
            <button type="button" class="btn btn-warning" btn-sm><%= link_to "編集する", edit_event_path(event.id) %></button>
            <button type="button" class="btn btn-danger" btn-sm><%= link_to '削除する', event_path(event.id),method: :delete ,data:{ confirm: '本当に削除してよろしいですか？'}  %></button>
        <% else %>
          <% link_to new_user_session_path %>
        <% end %>
        
        <% if event.allow == true  %>  
          <button type="button" class="btn btn-default" btn-lg><%= link_to "戻す", back_managers_path(id: event.id), method: :post%></button>
        <% else %>
          <button type="button" class="btn btn-success" btn-lg><%= link_to "承認", allow_managers_path(id: event.id), method: :post%></button>
        <% end %> 
      </div>
    </div>  
  <% end %> 
      
  <div class="center">
    <%= page_entries_info @events, entry_name: "Records" %>
    <%= paginate @events %>
  </div>

  
<h1>お問い合わせ一覧</h1>
  <%= @contacts.each do |contact| %>
      <div class="container-fluid center-block">     
        <div class="center row">
          <div class="center event_list">  
            <h2><%= contact.name %></h2>
            <h4><%= contact.email %></h4>
            <h4><%= contact.content %></h4>
              <%= link_to 'Show', contact %>
              <!--<%= link_to 'Edit', edit_contact_path(contact) %>-->
          </div>  
        </div>
      </div>

      <div class="container-fluid center-block"> 
        <div class="center row">
          <div class="center event_list">  
            <h2><%= contact.name %></h2>
            <h4><%= contact.email %></h4>
            <h4><%= contact.content %></h4>
              <%= link_to '詳細を見る', contact %>
              <!--<%= link_to 'Edit', edit_contact_path(contact) %>-->
          </div>  
        </div>
      </div>
    <% end %>  
    
    <div class="center">
      <%= page_entries_info @contacts, entry_name: "Records" %>
      <%= paginate @contacts %>
    </div>
