<div class="input-group small-devices form-inline center-block">
          <ul class="center">
        <% @event.errors.full_messages.each do |msg| %>
          <li><font color="#FF0000"></font></li>
        <% end %>
          </ul>
    
    <div class="event-box">
      <%= bootstrap_form_for(@event, local: true, url: choose_new_or_edit) do |f|%>
        <div class="imagePreview"></div>
          <div class="input-group center-block">
            <%= image_tag(@event.image) if @event.image %>
              <%= f.file_field :image, id: :image %>
          </div>
        
        <li class="center-block">
          <%= f.date_field :event_date%>
          <%= f.text_field :place, label: false, error: false, placeholder: "開催場所" %>
        </li>
        
        <li class="form-group">
          <%= f.text_field :title, size:"80", label: false, error: false, placeholder: "タイトル" %>
        </li>
        
        <li class="center-block">  
          <%= f.text_area :content, size:"80x10",label: false, error: false, placeholder: "内容" %>
        </li>
        
        <div class="button">
        <input type="submit" type="button" class="far fa-envelope btn-success center-block"value="投稿する &#xf0e0">
        </div>
  
      <% end %>
    </div>  
</div>