<div class="input-group small-devices form-inline center-block">
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <ul class="center">
        <% @event.add_error_event.each do |msg| %>
          <li><font color="#FF0000"><%= msg %></font></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="event-box">
      <%= bootstrap_form_for(@event, local: true, url: choose_new_or_edit) do |f|%>
        <div class="imagePreview"></div>
          <div class="input-group">
              <label class="input-group-btn">
                  <span class="btn btn-info">
                      画像を選択する<input type="file" style="display:none" class="uploadFile">
                  </span>
              </label>
          </div>
        
        <li class="center-block">
          <%= f.date_select :event_date, placeholder: 'mm/dd/yyyy'%>
          <%= f.text_field :place, label: false, error: false, placeholder: "開催場所" %>
        </li>
        
        <li class="form-group">
          <%= f.text_field :title, size:"80", label: false, error: false, placeholder: "タイトル" %>
        </li>
        
        <li class="center-block">  
          <%= f.text_area :content, size:"80x10",label: false, error: false, placeholder: "内容" %>
        </li>
        
        <div class="button">
        <input type="submit" type="button" class="far fa-envelope btn-success center-block"value="投稿する &#xf0e0" data-disable-with="投稿中...">
        </div>
  
      <% end %>
    </div>  
</div>