<div class="input-group small-devices form-inline center-block">
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <ul class="center">
        <% @event.add_error_event.each do |msg| %>
          <li><font color="#FF0000"><%= msg %></font></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <%= simple_form_for (@event) do |form| %>
        <li class="event_form">
          <%= form.date_field :event_date, size:"100", placeholder: 'mm/dd/yyyy'%>
        </li>
        
        <li class="event_form">
          <%= form.input :title, label: false, error: false, placeholder: "タイトル" %>
        </li>
        
        <li class="event_form">
          <%= form.input :place, label: false, error: false, placeholder: "開催場所" %>
        </li>
  
        <li class="event_form">  
          <%= form.input :content, label: false, error: false, placeholder: "内容" %>
        </li>
      
    
      <div class="center">
        <%= form.label :Image %>
        <%= image_tag(@event.image) if @event.image %>
        <center><%= form.file_field :image, :size =>'240x240', id: :image %></center>
      </div>
      
      <div class="button">
      <input type="submit" type="button" class="far fa-envelope btn-success center-block"value="投稿する &#xf0e0" data-disable-with="投稿中...">
      </div>
  
    <% end %>
</div>