<%= notice %>
  <header>
    <div class="image_area visible-lg">
    </div> 
    <div class="image_pad visible-md visible-sm">
    </div>
    
    <form class="center-block input-group small-devices form-inline search-box">
      <%= form_tag(events_path,:method => 'get') do %>
        <%= text_field_tag :search, params[:search], placeholder: "場所、開催日", :size =>'20' %>
        <button type="submit" class="button1 fas fa-search"></button>
      <% end %>
    </form>  
  </header>
  <% @events.each do |event| %>
    <% if event.allow == false  %>
      <div class= "container-fluid visible-xs visible-md visible-sm">
          <div class="center row">
            <div class= "col-md-4 col-sm-4 visible-xl visible-lg">
              <%= image_tag event.image, :size =>'240x240' %>
            </div> 
            <div class= "col-md-4 col-sm-4 visible-md visible-sm">
              <%=image_tag event.image , :size =>'180x180' %>
            </div>  
            <div class= "visible-xs">
              <%=image_tag event.image , :size =>'140x140' %>
            </div> 
            <div class="center event_list col-md-4 col-sm-4">
              <h2><%=link_to event.title, event_path(event.id)  %></h2>
              <h4><%= event.place %></h4>
              <%= event.event_date %>
              <br><div class="event-box"><%=link_to '記事を読む', event_path(event.id) %></div>
            </div>  
          </div>
          
          <% if logged_in?  %>
            <% if event.user == current_user %>
              <button type="button" class="btn btn-warning" btn-sm><%= link_to "編集する", edit_event_path(event.id) %></button>
              <button type="button" class="far fa-trash-alt btn btn-danger" btn-sm><%= link_to '削除する', event_path(event.id),method: :delete ,data:{ confirm: '本当に削除してよろしいですか？'}  %></button>
            <% end %>
          <% else %>
            <% link_to new_user_session_path %>
          <% end %>
      </div>  
      
        <div class= "box visible-xl visible-lg">
          <div class="row">
            <div class= "event_image col-md-6 col-xs-12">
              <%=image_tag event.image , :size =>'240x240' %>
            </div>  
          
            <div class="center event_list col-md-6 col-xs-12">
              <h2><%=link_to event.title, event_path(event.id)  %></h2>
              <h4><%= event.place %></h4>
              <%= event.event_date %>
              <br><div class="event-box"><%=link_to '記事を読む', event_path(event.id) %></div>  
            </div>  
          </div>
          
          <% if logged_in?  %>
            <% if event.user.id == current_user.id %>
              <button type="button" class="btn btn-warning" btn-sm><%= link_to "編集する", edit_event_path(event.id) %></button>
              <button type="button" class="btn btn-danger" btn-sm><%= link_to '削除する', event_path(event.id),method: :delete ,data:{ confirm: '本当に削除してよろしいですか？'}  %></button>
            <% end %>
          <% else %>
            <% link_to new_user_session_path %>
          <% end %>
        </div>
    <% end %>
  <% end %> 
  <div class="center">
  <%= page_entries_info @events %>
  <%= paginate @events %>
  </div>
