 <div class="input-group small-devices form-inline center-block"> 
 
    <% if contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
        <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

   
    <%= simple_form_for (@contact) do |form| %>
      <li class="event_form">
        <%= form.input :name%>
      </li>
    
      <li class="event_form">
        <%= form.input :email%>
      </li>
    
      <li class="event_form">
        <%= form.input :content%>
      </li>
    
      <div class="button">
        <%= form.submit "送信する" , class: "follow_submit btn btn-success center-block" %>
      </div>
    <% end %>
</div>