<%= form_with(model: @contact, local: true ,url: new_or_edit) do |form| %>

  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
　　<div class="container input-group small-devices form-inline center-block">
　　  <ul class="row">
        <li class="center">
          <%= form.text_field :name, size: "50", placeholder: "名前", id: :contact_name %>
        </li>
      
        <li class="center">
          <%= form.text_field :email, size: "50", placeholder: "Email", id: :contact_email %>
        </li>
      
        <li class="center">
          <%= form.text_area :content,size: "50x10", placeholder: "内容", id: :contact_content %>
        </li>
      
        <div class="button">
          <%= form.submit "送信する" , class: "follow_submit btn btn-success center-block" %>
        </div>
      </ul>  
    </div>
  
<% end %>
