<h3>以下の内容で、送信する。</h3>

  <div class="center">
     <%= bootstrap_form_for(@contact,local:true)do |f|%>
      <%= f.hidden_field:name %>
      <%= f.hidden_field:email %>
      <%= f.hidden_field:content %>
    <div class="event-box">     
      <div class="event_list"><h4><%= @contact.name %></h4></div> 
      <div class="event_list"><h5><%= @contact.email %></h5></div> 
      <div class="event_list"><h5><%= @contact.content %></h5></div> 
    </div>   
      <!--<%= f.submit "送信する" %>-->
      <input type="submit" type="button" class="far fa-envelope btn-success center-block"value="送信する &#xf0e0" data-disable-with="送信中...">
    <% end %>
    
    <%= bootstrap_form_for(@contact, url: new_contact_path, local: true,method: 'get')do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field:email %>
      <%= f.hidden_field :content %>
      
      <%= f.submit "戻る", name: 'back' %>
    <% end %>  
  </div>    
    
    