<h3>以下の内容で、送信する。</h3>

  <div class="center">
     <%= bootstrap_form_for(@contact,local:true)do |f|%>
      <%= f.hidden_field:name %>
      <%= f.hidden_field:email %>
      <%= f.hidden_field:content %>
         
      <h4><%= @contact.name %></h4>
      <h5><%= @contact.email %></h5>
      <h5><%= @contact.content %></h5>
      
      <%= f.submit "送信する" %>
    <% end %>
    
    <%= bootstrap_form_for(@contact, url: new_contact_path, local: true,method: 'get')do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field:email %>
      <%= f.hidden_field :content %>
      
      <%= f.submit "戻る", name: 'back' %>
    <% end %>  
  </div>    
    
    